Flask==2.3.3
Flask-Cors==4.0.0
Flask-SQLAlchemy==3.1.1
Flask-MySQLdb==2.0.0
Flask-WTF==1.2.1
Flask-Mail
Flask-Login
Flask-Session
PyMySQL==1.1.0
python-dotenv==1.1.1
pillow==10.3.0
openpyxl==3.1.5
gunicorn==21.2.0
supabase
requests
python-dateutil
pytz
nltk
spacy
textblob
langdetect
language_tool_python
PyPDF2
python-docx
numpy
